/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* CUSTOM STARTS BELOW */
@import url(https://fonts.googleapis.com/css?family=Raleway:100,400);
@import url(https://fonts.googleapis.com/css?family=Bitter);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,8700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,600);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=EB+Garamond);

$main-bg-color: #faf1d5;
$main-bg-color: #2E2E38;
$accent-blue: #37bbe4;
$accent-gray: #e1e0dd;
$accent-black: #35342f;
$accent-orange: #ec6b2d;
$accent-red: #dd6464;
$project-container-color: #ece9df;

@import "bourbon";
$color-snow: #fff;
$color-silver: #c5c5c5;
$color-silver-dark: #b4b4b4;

$header-text-color: white;
$header-background-color: rgba(17,40,45, 0.9);
$header-background-color: #BF7444;

$statistics-background-color: $color-snow;
$statistics-color: $accent-black;


body {
  background: $main-bg-color;    
  color: $accent-black;
  font-family: 'Roboto Slab', 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 3em;
}

h2 {
  font-weight: 700;
  font-size: 200%;
  margin: 1rem 0 1rem 0;
}

.github-info {
  margin: 5vh;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

footer {
  font-size: 0.75em;
  text-align: center;
  padding-top: 5vh;

  a {
    text-decoration: none;
    color: inherit;

    &:hover {
      color: $accent-blue;
    }
  }

  #heart{
    color: $accent-red;
  }
}

.header {
  background-color: $header-background-color;
  /* remove the gradient */
  background-image: none !important;
  box-shadow: 0 8px 6px -6px rgba(0,0,0, .2);
  padding-top: 10px;
}

.header a {
  color: $header-text-color;
  font-family: Roboto Slab, sans-serif;
  font-size: 1.1em;
  margin-top: -5px;
}

ul.nav{
  display:inline-flex;
}

.nav-link{
  border-top: 4px solid transparent;
  transition: border-top .3s;
  &:hover{border-top: 4px solid dodgerblue;}
}

.hide-when-small {
  @media screen and (max-width: 800px) {
    display: none;
  }
}

.icon {
  font-size: 1.4em;
}

.nav > li > a:focus,
.nav > li > a:hover {
  text-decoration: none;
  background-color: transparent;
}

.footer_icon {
  height: 18px;
  width: auto;
  @media only screen and (max-device-width: 600px) {
    height: 5rem;
  }
}

.tech-icon-container {
  display: -webkit-box;   /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
  display: -moz-box;      /* OLD: Firefox (buggy) */
  display: -ms-flexbox;   /* MID: IE 10 */
  display: -webkit-flex;  /* NEW, Chrome 21?28, Safari 6.1+ */
  display: flex;
  -webkit-flex-wrap: wrap; /* Safari 6.1+ */
  flex-wrap: wrap;
  justify-content: flex-start;
}

.tech-icon {
  margin-left: 0.2em;
  margin-right: 1em;
  height: 1em;
}

.statistics {
  background-color: $statistics-background-color;
  color: $statistics-color;
  width: 80vw;
  padding: 1vh 1vw 1vh 1vw; 
  margin-bottom: 2em;
}

.navbar-brand {
  line-height: normal;
  @media only screen and (max-device-width: 600px) {
    font-size: 3rem;
  } 
}

.gfyVid {
  width: 33vw;
}